In [1]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('data.csv')

# Display the first few rows of the DataFrame
print(df.head())

C:\Temp\ipykernel_18016\856276146.py:4: DtypeWarning: Columns (3,5,22,23,24,26,27,28,29,30,31,32,33,38,43,44,46,77,78,79,80) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv')

   activity_year                   lei  derived_msa-md state_code  \
0           2023  549300TKFZR4QBNE5D40           99999         FL
1           2023  549300TKFZR4QBNE5D40           11100         TX
2           2023  549300TKFZR4QBNE5D40           20700         PA
3           2023  549300TKFZR4QBNE5D40           37860         FL
4           2023  549300TKFZR4QBNE5D40           99999         TX

   county_code   census_tract conforming_loan_limit derived_loan_product_type  \
0      12107.0  12107951401.0                     C   Conventional:First Lien
1      48375.0  48375014300.0                     C            FHA:First Lien
2      42089.0  42089300201.0                     C            FHA:First Lien
3      12033.0  12033003800.0                     C             VA:First Lien
4      48213.0  48213950905.0                     C            FHA:First Lien

                derived_dwelling_category       derived_ethnicity  ...  \
0  Single Family (1-4 Units):Manufactured  Not Hispanic or Latino  ...
1  Single Family (1-4 Units):Manufactured  Not Hispanic or Latino  ...
2  Single Family (1-4 Units):Manufactured  Not Hispanic or Latino  ...
3  Single Family (1-4 Units):Manufactured  Not Hispanic or Latino  ...
4  Single Family (1-4 Units):Manufactured  Not Hispanic or Latino  ...

  denial_reason-2 denial_reason-3  denial_reason-4  tract_population  \
0             NaN             NaN              NaN              3226
1             NaN             NaN              NaN              6427
2             NaN             NaN              NaN              4053
3             NaN             NaN              NaN              4961
4             NaN             NaN              NaN              2566

   tract_minority_population_percent  ffiec_msa_md_median_family_income  \
0                              59.33                              65800
1                              20.62                              87300
2                              17.44                             100000
3                              15.80                              83900
4                              18.78                              73200

   tract_to_msa_income_percentage  tract_owner_occupied_units  \
0                           67.63                         767
1                          141.89                        1927
2                          129.71                        1136
3                          114.64                        1434
4                          109.59                         755

   tract_one_to_four_family_homes  tract_median_age_of_housing_units
0                            1511                                 44
1                            2335                                 19
2                            2557                                 43
3                            1915                                 29
4                            1442                                 31

[5 rows x 99 columns]

In [2]:
df[500:510]

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
500,2023,549300ZVE7XVH8GM5H22,33140,IN,18091.0,18091040700.0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,1532,36.95,83000,92.10,384,612,70
501,2023,549300ZVE7XVH8GM5H22,33140,IN,18091.0,18091040600.0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4941,35.24,83000,84.39,1256,1753,52
502,2023,549300ZVE7XVH8GM5H22,33140,IN,18091.0,18091041600.0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,6262,14.98,83000,114.92,2478,3081,47
503,2023,549300ZVE7XVH8GM5H22,33140,IN,18091.0,18091040400.0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3158,26.41,83000,98.31,808,1118,57
504,2023,549300ZVE7XVH8GM5H22,33140,IN,18091.0,18091042601.0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5010,12.83,83000,142.97,1444,1806,28
505,2023,549300ZVE7XVH8GM5H22,33140,IN,18091.0,18091041500.0,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4907,11.98,83000,110.79,2177,2376,41
506,2023,549300ZVE7XVH8GM5H22,33140,IN,18091.0,18091040600.0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,4941,35.24,83000,84.39,1256,1753,52
507,2023,549300ZVE7XVH8GM5H22,33140,IN,18091.0,18091041100.0,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2286,15.49,83000,153.32,805,1455,54
508,2023,549300TKFZR4QBNE5D40,99999,IN,18027.0,18027954700.0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4030,34.79,82700,81.82,983,1946,63
509,2023,549300ZVE7XVH8GM5H22,33140,IN,18091.0,18091041600.0,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,6262,14.98,83000,114.92,2478,3081,47

In [3]:
# Ensure all rows and columns are displayed
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Count and display all the NAs in the DataFrame
na_counts = df.isna().sum()
print(na_counts)

activity_year                                     0
lei                                               0
derived_msa-md                                    0
state_code                                   227022
county_code                                  292335
census_tract                                 327540
conforming_loan_limit                         39292
derived_loan_product_type                         0
derived_dwelling_category                         0
derived_ethnicity                                 0
derived_race                                      0
derived_sex                                       0
action_taken                                      0
purchaser_type                                    0
preapproval                                       0
loan_type                                         0
loan_purpose                                      0
lien_status                                       0
reverse_mortgage                                  0
open-end_line_of_credit                           0
business_or_commercial_purpose                    0
loan_amount                                       0
loan_to_value_ratio                          573160
interest_rate                               2052850
rate_spread                                 2634417
hoepa_status                                      0
total_loan_costs                            4037584
total_points_and_fees                       7905061
origination_charges                         3983843
discount_points                             5760762
lender_credits                              6750344
loan_term                                    155738
prepayment_penalty_term                     7618996
intro_rate_period                           5957560
negative_amortization                             0
interest_only_payment                             0
balloon_payment                                   0
other_nonamortizing_features                      0
property_value                               247659
construction_method                               0
occupancy_type                                    0
manufactured_home_secured_property_type           0
manufactured_home_land_property_interest          0
total_units                                       0
multifamily_affordable_units                7960188
income                                       363548
debt_to_income_ratio                         424156
applicant_credit_score_type                       0
co-applicant_credit_score_type                    0
applicant_ethnicity-1                          5746
applicant_ethnicity-2                       7684644
applicant_ethnicity-3                       8218456
applicant_ethnicity-4                       8228790
applicant_ethnicity-5                       8228816
co-applicant_ethnicity-1                       1905
co-applicant_ethnicity-2                    8022060
co-applicant_ethnicity-3                    8225635
co-applicant_ethnicity-4                    8229047
co-applicant_ethnicity-5                    8229026
applicant_ethnicity_observed                      0
co-applicant_ethnicity_observed                   0
applicant_race-1                               2829
applicant_race-2                            7805883
applicant_race-3                            8194158
applicant_race-4                            8223805
applicant_race-5                            8227367
co-applicant_race-1                             703
co-applicant_race-2                         8063699
co-applicant_race-3                         8216412
co-applicant_race-4                         8227266
co-applicant_race-5                         8228435
applicant_race_observed                           0
co-applicant_race_observed                        0
applicant_sex                                     0
co-applicant_sex                                  0
applicant_sex_observed                            0
co-applicant_sex_observed                         0
applicant_age                                     0
co-applicant_age                                  0
applicant_age_above_62                       209495
co-applicant_age_above_62                   4839742
submission_of_application                         0
initially_payable_to_institution                  0
aus-1                                             0
aus-2                                       7783480
aus-3                                       8122546
aus-4                                       8180692
aus-5                                       8186557
denial_reason-1                                   0
denial_reason-2                             7755275
denial_reason-3                             8145561
denial_reason-4                             8218972
tract_population                                  0
tract_minority_population_percent                 0
ffiec_msa_md_median_family_income                 0
tract_to_msa_income_percentage                    0
tract_owner_occupied_units                        0
tract_one_to_four_family_homes                    0
tract_median_age_of_housing_units                 0
dtype: int64

In [4]:
df.describe()

,activity_year,derived_msa-md,county_code,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open-end_line_of_credit,business_or_commercial_purpose,loan_amount,hoepa_status,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,income,applicant_credit_score_type,co-applicant_credit_score_type,applicant_ethnicity-1,applicant_ethnicity-2,applicant_ethnicity-3,applicant_ethnicity-4,applicant_ethnicity-5,co-applicant_ethnicity-1,co-applicant_ethnicity-2,co-applicant_ethnicity-3,co-applicant_ethnicity-4,co-applicant_ethnicity-5,applicant_ethnicity_observed,co-applicant_ethnicity_observed,applicant_race-1,applicant_race-2,applicant_race-3,applicant_race-4,applicant_race-5,co-applicant_race-1,co-applicant_race-2,co-applicant_race-3,co-applicant_race-4,co-applicant_race-5,applicant_race_observed,co-applicant_race_observed,applicant_sex,co-applicant_sex,applicant_sex_observed,co-applicant_sex_observed,submission_of_application,initially_payable_to_institution,aus-1,aus-2,aus-3,aus-4,aus-5,denial_reason-1,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
count,8229143.0,8.229143e+06,7.936808e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,7.865595e+06,8.229143e+06,8.229143e+06,8.223397e+06,544499.000000,10687.000000,353.000000,327.000000,8.227238e+06,207083.000000,3508.000000,96.000000,117.000000,8.229143e+06,8.229143e+06,8.226314e+06,423260.000000,34985.000000,5338.000000,1776.000000,8.228440e+06,165444.000000,12731.000000,1877.000000,708.000000,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,445663.000000,106597.000000,48451.000000,42586.000000,8.229143e+06,473868.000000,83582.000000,10171.000000,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06,8.229143e+06
mean,2023.0,4.097558e+04,2.831505e+04,1.713638e+00,7.105390e+00,1.946334e+00,1.260434e+00,7.602618e+00,1.267171e+00,3.504963e+01,3.472264e+01,3.486593e+01,3.129602e+05,2.385627e+00,3.510242e+01,3.496960e+01,3.506110e+01,3.509951e+01,1.060886e+00,1.170425e+00,3.593020e+01,3.777174e+01,1.821552e+02,3.693817e+01,4.129466e+01,2.189177e+00,11.794877,12.816787,12.983003,13.908257,3.815675e+00,11.727336,12.716648,12.635417,13.965812,2.030578e+00,3.170557e+00,5.017937e+00,19.462288,22.010004,26.164856,29.810248,6.783488e+00,20.297968,22.588014,26.568993,31.837571,2.030495e+00,3.170717e+00,1.556646e+00,3.661821e+00,2.030340e+00,3.170913e+00,3.424693e+01,3.419433e+01,3.711584e+01,1.924744,2.571667,1.419124,1.416804,3.541198e+01,4.200062,5.412122,7.026448,4.629890e+03,3.509982e+01,9.476095e+04,1.053906e+02,1.185826e+03,1.603773e+03,3.483694e+01
std,0.0,2.741136e+04,1.624313e+04,1.338448e+00,1.965946e+01,2.253574e-01,5.853726e-01,1.200919e+01,4.424826e-01,1.885844e+02,1.883253e+02,1.882165e+02,8.100327e+07,4.890703e-01,1.887217e+02,1.887453e+02,1.887291e+02,1.887223e+02,2.391216e-01,5.388320e-01,1.884039e+02,1.880864e+02,5.489059e+04,1.882935e+02,1.875250e+02,1.251266e+00,1.978438,2.006010,1.837038,0.309600,1.581384e+00,1.814930,2.041371,2.644238,0.182493,3.127895e-01,9.954883e-01,2.333393e+00,8.873206,10.550235,11.967219,12.686891,2.067669e+00,8.448797,10.121742,11.291078,11.900241,3.131117e-01,9.954599e-01,7.374697e-01,1.631056e+00,3.142668e-01,9.954112e-01,1.888237e+02,1.888330e+02,1.893628e+02,1.328127,1.630865,0.645279,0.639466,1.707095e+02,2.633192,2.453945,2.405743,2.273628e+03,2.614416e+01,2.735690e+04,4.495947e+01,6.068200e+02,7.335769e+02,1.899018e+01
min,2023.0,1.018000e+04,1.001000e+03,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.280000e+05,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,12.000000,1.000000e+00,1.000000,1.000000,1.000000,13.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,2.000000,2.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00
25%,2023.0,2.166000e+04,1.211300e+04,1.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,8.500000e+04,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,5.000000e+00,6.500000e+01,1.000000e+00,9.000000e+00,2.000000e+00,11.000000,12.000000,13.000000,14.000000,2.000000e+00,11.000000,12.000000,13.000000,14.000000,2.000000e+00,2.000000e+00,5.000000e+00,21.000000,21.000000,22.000000,23.000000,5.000000e+00,21.000000,22.000000,22.000000,23.750000,2.000000e+00,2.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000e+01,2.000000,4.000000,5.000000,3.296000e+03,1.429000e+01,8.310000e+04,8.058000e+01,7.870000e+02,1.163000e+03,2.100000e+01
50%,2023.0,3.500400e+04,2.802900e+04,1.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.950000e+05,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,5.000000e+00,1.000000e+02,3.000000e+00,1.000000e+01,2.000000e+00,11.000000,14.000000,13.000000,14.000000,5.000000e+00,11.000000,13.000000,13.000000,14.000000,2.000000e+00,4.000000e+00,5.000000e+00,22.000000,23.000000,24.000000,27.000000,8.000000e+00,22.000000,23.000000,24.000000,41.000000,2.000000e+00,4.000000e+00,1.000000e+00,5.000000e+00,2.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00,2.000000,2.000000,1.000000,1.000000,1.000000e+01,4.000000,5.000000,9.000000,4.446000e+03,2.783000e+01,9.520000e+04,1.028800e+02,1.149000e+03,1.586000e+03,3.500000e+01
75%,2023.0,4.494000e+04,4.207900e+04,3.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,4.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,3.350000e+05,3.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,5.000000e+00,1.560000e+02,8.000000e+00,1.000000e+01,2.000000e+00,13.000000,14.000000,14.000000,14.000000,5.000000e+00,13.000000,14.000000,14.000000,14.000000,2.000000e+00,4.000000e+00,5.000000e+00,25.000000,26.000000,41.000000,41.000000,8.000000e+00,25.000000,26.000000,41.000000,41.000000,2.000000e+00,4.000000e+00,2.000000e+00,5.000000e+00,2.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,6.000000e+00,2.000000,5.000000,2.000000,2.000000,1.000000e+01,6.000000,8.000000,9.000000,5.770000e+03,5.110000e+01,1.065000e+05,1.284100e+02,1.546000e+03,2.032000e+03,4.800000e+01
max,2023.0,9.999900e+04,7.803000e+04,8.000000e+00,7.200000e+01,2.000000e+00,4.000000e+00,3.200000e+01,2.000000e+00,1.111000e+03,1.111000e+03,1.111000e+03,2.323232e+11,3.000000e+00,1.111000e+03,1.111000e+03,1.111000e+03,1.111000e+03,2.000000e+00,3.000000e+00,1.111000e+03,1.111000e+03,1.320000e+08,1.111000e+03,1.111000e+03,1.400000e+01,14.000000,14.000000,14.000000,14.000000,1.400000e+01,14.000000,14.000000,14.000000,14.000000,3.000000e+00,4.000000e+00,4.400000e+01,44.000000,44.000000,44.000000,44.000000,4.400000e+01,44.000000,44.000000,44.000000,44.000000,3.000000e+00,4.000000e+00,6.000000e+00,6.000000e+00,3.000000e+00,4.000000e+00,1.111000e+03,1.111000e+03,1.111000e+03,7.000000,7.000000,5.000000,5.000000,1.111000e+03,9.000000,9.000000,9.000000,3.789200e+04,1.000000e+02,1.854000e+05,5.162000e+02,6.276000e+03,8.233000e+03,8.000000e+01

In [5]:
# Drop the specified columns
columns_to_drop = [
    'activity_year',
    'lei',
    'derived_msa-md',
    'state_code',
    'county_code',
    'census_tract',
    'derived_loan_product_type',
    'derived_dwelling_category',
    'conforming_loan_limit',
    'derived_ethnicity',
    'derived_race',
    'derived_sex',
    'preapproval',
    'reverse_mortgage',
    'open-end_line_of_credit',
    'business_or_commercial_purpose',
    'hoepa_status',
    'lender_credits',
    'prepayment_penalty_term',
    'intro_rate_period',
    'negative_amortization',
    'interest_only_payment',
    'balloon_payment',
    'other_nonamortizing_features',
    'applicant_ethnicity-2',
    'applicant_ethnicity-3',
    'applicant_ethnicity-4',
    'applicant_ethnicity-5',
    'co-applicant_ethnicity-2',
    'co-applicant_ethnicity-3',
    'co-applicant_ethnicity-4',
    'co-applicant_ethnicity-5',
    'applicant_ethnicity_observed',
    'co-applicant_ethnicity_observed',
    'applicant_race-2',
    'applicant_race-3',
    'applicant_race-4',
    'applicant_race-5',
    'co-applicant_race-2',
    'co-applicant_race-3',
    'co-applicant_race-4',
    'co-applicant_race-5',
    'applicant_race_observed',
    'co-applicant_race_observed',
    'applicant_sex',
    'co-applicant_sex',
    'applicant_sex_observed',
    'co-applicant_sex_observed',
    'submission_of_application',
    'initially_payable_to_institution',
    'aus-2',
    'aus-3',
    'aus-4',
    'aus-5',
    'denial_reason-2',
    'denial_reason-3',
    'denial_reason-4',
    'tract_population',
    'tract_minority_population_percent',
    'ffiec_msa_md_median_family_income',
    'tract_to_msa_income_percentage',
    'tract_owner_occupied_units',
    'tract_one_to_four_family_homes',
    'tract_median_age_of_housing_units',
    'multifamily_affordable_units'
]
df = df.drop(columns=columns_to_drop)

In [6]:
print("Unique values in purchaser_type:")
print(df['purchaser_type'].value_counts().sort_index())

Unique values in purchaser_type:
purchaser_type
0     5003463
1      691891
2      574090
3      580677
4         193
5      111538
6      210957
8       75240
9      277957
71     664436
72      38701
Name: count, dtype: int64

In [7]:
# Count and display all the NAs in the DataFrame
na_counts = df.isna().sum()
print(na_counts)

action_taken                                      0
purchaser_type                                    0
loan_type                                         0
loan_purpose                                      0
lien_status                                       0
loan_amount                                       0
loan_to_value_ratio                          573160
interest_rate                               2052850
rate_spread                                 2634417
total_loan_costs                            4037584
total_points_and_fees                       7905061
origination_charges                         3983843
discount_points                             5760762
loan_term                                    155738
property_value                               247659
construction_method                               0
occupancy_type                                    0
manufactured_home_secured_property_type           0
manufactured_home_land_property_interest          0
total_units                                       0
income                                       363548
debt_to_income_ratio                         424156
applicant_credit_score_type                       0
co-applicant_credit_score_type                    0
applicant_ethnicity-1                          5746
co-applicant_ethnicity-1                       1905
applicant_race-1                               2829
co-applicant_race-1                             703
applicant_age                                     0
co-applicant_age                                  0
applicant_age_above_62                       209495
co-applicant_age_above_62                   4839742
aus-1                                             0
denial_reason-1                                   0
dtype: int64

In [8]:
print(df['co-applicant_age_above_62'].value_counts().sort_index())
# Fill NAs in co-applicant_age_above_62 with "No Co-Applicant"
df['co-applicant_age_above_62'] = df['co-applicant_age_above_62'].fillna("No Co-Applicant")
print(df['co-applicant_age_above_62'].value_counts().sort_index())

co-applicant_age_above_62
No     2770367
Yes     619034
Name: count, dtype: int64
co-applicant_age_above_62
No                 2770367
No Co-Applicant    4839742
Yes                 619034
Name: count, dtype: int64

In [9]:
print(df['applicant_age_above_62'].value_counts().sort_index())
df['applicant_age_above_62'] = df['applicant_age_above_62'].fillna("Unknown")
print(df['applicant_age_above_62'].value_counts().sort_index())

applicant_age_above_62
No     6640292
Yes    1379356
Name: count, dtype: int64
applicant_age_above_62
No         6640292
Unknown     209495
Yes        1379356
Name: count, dtype: int64

In [10]:
# Drop rows where any of the specified columns have NAs
columns_to_check = ['applicant_ethnicity-1', 'co-applicant_ethnicity-1', 'applicant_race-1', 'co-applicant_race-1']
data = df.dropna(subset=columns_to_check)

# Verify the changes
print(df.isna().sum())

action_taken                                      0
purchaser_type                                    0
loan_type                                         0
loan_purpose                                      0
lien_status                                       0
loan_amount                                       0
loan_to_value_ratio                          573160
interest_rate                               2052850
rate_spread                                 2634417
total_loan_costs                            4037584
total_points_and_fees                       7905061
origination_charges                         3983843
discount_points                             5760762
loan_term                                    155738
property_value                               247659
construction_method                               0
occupancy_type                                    0
manufactured_home_secured_property_type           0
manufactured_home_land_property_interest          0
total_units                                       0
income                                       363548
debt_to_income_ratio                         424156
applicant_credit_score_type                       0
co-applicant_credit_score_type                    0
applicant_ethnicity-1                          5746
co-applicant_ethnicity-1                       1905
applicant_race-1                               2829
co-applicant_race-1                             703
applicant_age                                     0
co-applicant_age                                  0
applicant_age_above_62                            0
co-applicant_age_above_62                         0
aus-1                                             0
denial_reason-1                                   0
dtype: int64

In [11]:
import numpy as np
# Chuyển giá trị "exempt" thành NaN
for col in ['income', 'loan_term', 'loan_to_value_ratio', 'debt_to_income_ratio']:
    df[col] = df[col].replace('exempt', 'Unknown')

# Chuyển các cột thành kiểu số (nếu cần)
numeric_cols = ['income', 'loan_term', 'loan_to_value_ratio', 'debt_to_income_ratio']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [12]:
# 1. Xử lý income
df['income'] = df['income'].fillna(df['income'].median())

In [13]:
# Kiểm tra tỷ lệ NA và "exempt" trước xử lý
columns_to_check = ['interest_rate', 'rate_spread', 'total_loan_costs', 'total_points_and_fees', 'loan_term', 'origination_charges', 'discount_points']
print("Tỷ lệ NA trước xử lý (%):\n", df[columns_to_check].isna().mean() * 100)
print("Tỷ lệ 'exempt' trước xử lý (%):\n", 
      df[columns_to_check].apply(lambda x: (x.astype(str).str.contains('exempt', case=False, na=False)).mean() * 100))

# Replace "exempt" and "nan" with "Unknown"
for col in columns_to_check:
    df[col] = df[col].astype(str).replace(['exempt', 'nan'], 'Unknown')

# Chuyển các cột thành kiểu số
for col in columns_to_check:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# 1. Xử lý interest_rate
df['interest_rate'] = df.apply(
    lambda row: 15 if pd.isna(row['interest_rate']) and row['action_taken'] == 3 else row['interest_rate'], axis=1)
df['interest_rate'] = df['interest_rate'].fillna(df['interest_rate'].median())

# 2. Xử lý rate_spread
df['rate_spread'] = df.apply(
    lambda row: 3 if pd.isna(row['rate_spread']) and row['action_taken'] == 3 else row['rate_spread'], axis=1)
df['rate_spread'] = df['rate_spread'].fillna(df['rate_spread'].median())

# 3. Xử lý total_loan_costs
df['total_loan_costs'] = df.apply(
    lambda row: 0 if pd.isna(row['total_loan_costs']) and row['action_taken'] == 3 else row['total_loan_costs'], axis=1)
df['total_loan_costs'] = df['total_loan_costs'].fillna(df['total_loan_costs'].median())

# 4. Xử lý total_points_and_fees
df['total_points_and_fees'] = df.apply(
    lambda row: 0 if pd.isna(row['total_points_and_fees']) and row['action_taken'] == 3 else row['total_points_and_fees'], axis=1)
df['total_points_and_fees'] = df['total_points_and_fees'].fillna(df['total_points_and_fees'].median())

# 5. Xử lý loan_term
df['loan_term'] = df.apply(
    lambda row: 360 if pd.isna(row['loan_term']) and row['action_taken'] == 3 else row['loan_term'], axis=1)
df['loan_term'] = df['loan_term'].fillna(df['loan_term'].mode()[0])

# 6. Xử lý origination_charges
df['origination_charges'] = df.apply(
    lambda row: 0 if pd.isna(row['origination_charges']) and row['action_taken'] == 3 else row['origination_charges'], axis=1)
df['origination_charges'] = df['origination_charges'].fillna(df['origination_charges'].median())

# 7. Xử lý discount_points
df['discount_points'] = df.apply(
    lambda row: 0 if pd.isna(row['discount_points']) and row['action_taken'] == 3 else row['discount_points'], axis=1)
df['discount_points'] = df['discount_points'].fillna(df['discount_points'].median())

# Kiểm tra tỷ lệ NA sau xử lý
print("Tỷ lệ NA sau xử lý (%):\n", df[columns_to_check].isna().mean() * 100)

# Kiểm tra phân phối sau xử lý
print("\nPhân phối interest_rate:\n", df['interest_rate'].describe())
print("\nPhân phối rate_spread:\n", df['rate_spread'].describe())
print("\nPhân phối total_loan_costs:\n", df['total_loan_costs'].describe())
print("\nPhân phối total_points_and_fees:\n", df['total_points_and_fees'].describe())
print("\nPhân phối loan_term:\n", df['loan_term'].describe())
print("\nPhân phối origination_charges:\n", df['origination_charges'].describe())
print("\nPhân phối discount_points:\n", df['discount_points'].describe())

Tỷ lệ NA trước xử lý (%):
 interest_rate            24.946097
rate_spread              32.013261
total_loan_costs         49.064453
total_points_and_fees    96.061777
loan_term                 4.855998
origination_charges      48.411396
discount_points          70.004398
dtype: float64
Tỷ lệ 'exempt' trước xử lý (%):
 interest_rate            2.966907
rate_spread              2.934048
total_loan_costs         2.989983
total_points_and_fees    2.989983
loan_term                0.000000
origination_charges      2.984393
discount_points          2.983944
dtype: float64
Tỷ lệ NA sau xử lý (%):
 interest_rate            0.0
rate_spread              0.0
total_loan_costs         0.0
total_points_and_fees    0.0
loan_term                0.0
origination_charges      0.0
discount_points          0.0
dtype: float64

Phân phối interest_rate:
 count    8.229143e+06
mean     8.993121e+00
std      3.700990e+00
min      0.000000e+00
25%      6.500000e+00
50%      7.375000e+00
75%      1.225000e+01
max      1.200000e+02
Name: interest_rate, dtype: float64

Phân phối rate_spread:
 count    8.229143e+06
mean     1.155978e+00
std      2.899931e+00
min     -3.830000e+03
25%      1.610000e-01
50%      8.270000e-01
75%      3.000000e+00
max      1.192420e+03
Name: rate_spread, dtype: float64

Phân phối total_loan_costs:
 count    8.229143e+06
mean     5.029718e+03
std      1.483638e+06
min      0.000000e+00
25%      0.000000e+00
50%      3.375450e+03
75%      5.776280e+03
max      4.256004e+09
Name: total_loan_costs, dtype: float64

Phân phối total_points_and_fees:
 count    8.229143e+06
mean     2.802000e+01
std      3.096827e+03
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      8.751000e+06
Name: total_points_and_fees, dtype: float64

Phân phối loan_term:
 count    8.229143e+06
mean     3.203642e+02
std      8.442836e+01
min      1.000000e+00
25%      3.000000e+02
50%      3.600000e+02
75%      3.600000e+02
max      1.200000e+03
Name: loan_term, dtype: float64

Phân phối origination_charges:
 count    8.229143e+06
mean     1.985204e+03
std      3.459543e+03
min      0.000000e+00
25%      0.000000e+00
50%      8.747500e+02
75%      2.013040e+03
max      1.462500e+06
Name: origination_charges, dtype: float64

Phân phối discount_points:
 count    8.229143e+06
mean     1.335668e+03
std      3.054428e+03
min      0.000000e+00
25%      1.807500e+02
50%      3.000000e+02
75%      4.091200e+02
max      1.000000e+06
Name: discount_points, dtype: float64

In [14]:
# Kiểm tra tỷ lệ "exempt" và NA trước xử lý
print("Tỷ lệ NA trước xử lý (%):\n", df[['income', 'loan_term', 'loan_to_value_ratio', 'debt_to_income_ratio']].isna().mean() * 100)

# Kiểm tra tỷ lệ "exempt" (bao gồm biến thể in hoa/thường)
for col in ['income', 'loan_term', 'loan_to_value_ratio', 'debt_to_income_ratio']:
    exempt_rate = df[col].astype(str).str.contains('exempt', case=False, na=False).mean() * 100
    print(f"Tỷ lệ 'exempt' trong {col} (%): {exempt_rate}")

# Chuyển đổi các cột về dạng chuỗi để xử lý "exempt"
for col in ['income', 'loan_term', 'loan_to_value_ratio', 'debt_to_income_ratio']:
    df[col] = df[col].astype(str).str.replace(r'exempt', 'Unknown', regex=True, case=False)

# 1. Chuẩn hóa debt_to_income_ratio trước khi chia categories
def standardize_dti(dti):
    if dti == 'Unknown' or pd.isna(dti):
        return np.nan
    if dti == '30%-<36%':
        return 33
    elif dti == '50%-<60%':
        return 55
    elif dti == '36%-<50%':
        return 42
    elif dti == '>60%':
        return 60
    elif dti == '20%-<30%':
        return 25
    elif dti == '<20%':
        return 15
    try:
        return float(dti)
    except:
        return np.nan

df['debt_to_income_ratio'] = df['debt_to_income_ratio'].apply(standardize_dti)

# 2. Chia categories cho loan_to_value_ratio
def categorize_ltv(ltv):
    if ltv == 'Missing' or pd.isna(ltv):
        return 'Missing'
    try:
        ltv = float(ltv)
        if ltv <= 80:
            return 'Low'
        elif ltv <= 90:
            return 'Medium'
        else:
            return 'High'
    except:
        return 'Missing'

df['ltv_category'] = df['loan_to_value_ratio'].apply(categorize_ltv)

# 3. Chia categories cho debt_to_income_ratio
def categorize_dti(dti):
    if pd.isna(dti):
        return 'Missing'
    try:
        dti = float(dti)
        if dti <= 30:
            return '<30'
        elif dti <= 50:
            return '30-50'
        else:
            return '>50'
    except:
        return 'Missing'

df['dti_category'] = df['debt_to_income_ratio'].apply(categorize_dti)

# 4. Chia categories cho loan_term
def categorize_loan_term(term):
    if term == 'Missing' or pd.isna(term):
        return 'Missing'
    try:
        term = float(term)
        if term <= 180:
            return 'Short'
        elif term <= 240:
            return 'Medium'
        else:
            return 'Long'
    except:
        return 'Missing'

df['loan_term_category'] = df['loan_term'].apply(categorize_loan_term)



# Kiểm tra kết quả
print("\nPhân phối ltv_category:\n", df['ltv_category'].value_counts())
print("\nPhân phối dti_category:\n", df['dti_category'].value_counts())
print("\nPhân phối loan_term_category:\n", df['loan_term_category'].value_counts())

Tỷ lệ NA trước xử lý (%):
 income                   0.000000
loan_term                0.000000
loan_to_value_ratio      9.927790
debt_to_income_ratio    56.575308
dtype: float64
Tỷ lệ 'exempt' trong income (%): 0.0
Tỷ lệ 'exempt' trong loan_term (%): 0.0
Tỷ lệ 'exempt' trong loan_to_value_ratio (%): 0.0
Tỷ lệ 'exempt' trong debt_to_income_ratio (%): 0.0

Phân phối ltv_category:
 ltv_category
Low       4475594
High      2816850
Medium     936699
Name: count, dtype: int64

Phân phối dti_category:
 dti_category
Missing    4655663
30-50      3573480
Name: count, dtype: int64

Phân phối loan_term_category:
 loan_term_category
Long      6679909
Short     1061106
Medium     488128
Name: count, dtype: int64

In [15]:
df.isna().sum()

action_taken                                      0
purchaser_type                                    0
loan_type                                         0
loan_purpose                                      0
lien_status                                       0
loan_amount                                       0
loan_to_value_ratio                               0
interest_rate                                     0
rate_spread                                       0
total_loan_costs                                  0
total_points_and_fees                             0
origination_charges                               0
discount_points                                   0
loan_term                                         0
property_value                               247659
construction_method                               0
occupancy_type                                    0
manufactured_home_secured_property_type           0
manufactured_home_land_property_interest          0
total_units                                       0
income                                            0
debt_to_income_ratio                        4655663
applicant_credit_score_type                       0
co-applicant_credit_score_type                    0
applicant_ethnicity-1                          5746
co-applicant_ethnicity-1                       1905
applicant_race-1                               2829
co-applicant_race-1                             703
applicant_age                                     0
co-applicant_age                                  0
applicant_age_above_62                            0
co-applicant_age_above_62                         0
aus-1                                             0
denial_reason-1                                   0
ltv_category                                      0
dti_category                                      0
loan_term_category                                0
dtype: int64

In [16]:
df = df.dropna(subset=['applicant_ethnicity-1', 'co-applicant_ethnicity-1', 'applicant_race-1', 'co-applicant_race-1'])
df = df.fillna('Missing')

In [17]:
df.isna().sum()

action_taken                                0
purchaser_type                              0
loan_type                                   0
loan_purpose                                0
lien_status                                 0
loan_amount                                 0
loan_to_value_ratio                         0
interest_rate                               0
rate_spread                                 0
total_loan_costs                            0
total_points_and_fees                       0
origination_charges                         0
discount_points                             0
loan_term                                   0
property_value                              0
construction_method                         0
occupancy_type                              0
manufactured_home_secured_property_type     0
manufactured_home_land_property_interest    0
total_units                                 0
income                                      0
debt_to_income_ratio                        0
applicant_credit_score_type                 0
co-applicant_credit_score_type              0
applicant_ethnicity-1                       0
co-applicant_ethnicity-1                    0
applicant_race-1                            0
co-applicant_race-1                         0
applicant_age                               0
co-applicant_age                            0
applicant_age_above_62                      0
co-applicant_age_above_62                   0
aus-1                                       0
denial_reason-1                             0
ltv_category                                0
dti_category                                0
loan_term_category                          0
dtype: int64

In [18]:
# Lưu dữ liệu đã xử lý
df.to_csv('train_clean.csv', index=False)
print("Đã lưu dữ liệu đã xử lý vào 'train_clean.csv'")

Đã lưu dữ liệu đã xử lý vào 'train_clean.csv'